terraform {
  backend "s3" {
    bucket         = "devops-terraform-state"
    key            = "s3.tfstate"
    region         = "ca-central-1"
    encrypt        = true
    dynamodb_table = "${environment}-terraform-state-lock"
  }
  required_version = ">= 1.6.4"
}
